# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python


# ==============================
# Virtual Environments
# ==============================

.venv/
venv/
env/
ENV/


# ==============================
# Django
# ==============================

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example


# ==============================
# Python Build / Cache
# ==============================

build/
dist/
*.egg-info/
.pytest_cache/
.coverage


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db